project:
  type: website
  output-dir: docs

website:
  title: "Mia Trenbeath"
  navbar:
    left:
      - about.qmd
      - projects.qmd
      - writing.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    page-layout: full



