/*-- scss:defaults --*/

// Font import

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

// Color definition

  $primary-color: #0d1d70;
  $background-color: #FFFDF8;
  
  $accent-color: #4661EA;
  $accent-color-light: #9096F1;
  
// Font size and family definitions

  $body: 19px;
  $navbar: 24px;
  
// Color settings

  $body-bg: $background-color;
  $body-color: $primary-color;
  
  $navbar-bg: $background-color;
  $navbar-fg: $primary-color;
  
  $footer-bg: $primary-color;
  $footer-fg: $background-color;
  
  $link-color: $accent-color;

// Font size settings

  $font-size-root: $body;

  $toc-font-size: $body;
  $h1-font-size: 36px;
  $h2-font-size: $navbar;
  $h3-font-size: $body;

/*-- scss:rules --*/

// Font family settings

$font-family-sans-serif: 'Crimson Pro', serif;
$font-family-monospace: 'Courier New', monospace;

body{
  font-family: 'Crimson Pro', serif;
}

p {
  font-family: 'Crimson Pro', serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Source Serif 4', serif;
}

// Navigation bar settings

.navbar * {
    
    font-size: $navbar;
    transition-duration: 0.2s;
    
    &:hover{
    color: $accent-color;
    }
    
    &:active{
    color: $accent-color;
    }
}

// Footer

.nav-footer p{
  font-size: $body;
}

.nav-footer a{
    color: $accent-color-light;
  }
  
div.nav-footer {
  
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  
  display: flex;
  align-items: center;
  
}

footer.footer {
  line-height: 1;
}


